:root {
  --color-primary: #0073ff;
  --color-white: #e9e9e9;
  --color-black: #141d28;
  --color-black-1: #212b38;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 120px;
  height: 80px;
}

.heading {
  font-family: sans-serif;
  margin-left: 650px;
  margin-top: -40px;
}

.menu {
  height: calc(40vh - 80px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.menu-bar {
  background-color: var(--color-black);
  background: rgb(3, 0, 22);
  border-bottom: 1px solid;
  height: 80px;
  width: 100%;
  display: flex;
  border: 1px;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  position: relative;
}

.menu-bar ul {
  list-style: none;
  display: flex;
  text-align: right;
}

.menu-bar ul li {
  padding: 10px 30px;
  position: relative;
}

.menu-bar ul li a {
  font-size: 18px;
  font-family: sans-serif;
  color: var(--color-white);
  text-decoration: none;
  transition: all 0.3s;
}

.menu-bar ul li a:hover {
  color: var(--color-primary);
}
.menu-bar button{
  background-color: #141d28;
  outline: none;
  border: none;
}

.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

.dropdown-menu {
  display: none;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #141d28;
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 10px;
}


.section1 {
  background-color: #2a0551;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 70%;
  margin: 10rem auto 0 auto;
  margin-top: 40px;
}

.section1 img {
  height: 250px;
}

.section1 p {
  color: #fff;
  margin-right: 15px;
  font-size: 16px;
  font-family: sans-serif;
  letter-spacing: 2px;
  line-height: 25px;
}

.section2 {
  background-color: #2a0551;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 70%;
  margin: 10rem auto 0 auto;
  margin-top: 40px;
}

.section2 img {
  height: 250px;

}

.section2 p {
  color: #fff;
  margin-right: 15px;
  font-size: 16px;
  font-family: sans-serif;
  letter-spacing: 2px;
  line-height: 25px;

}

.content3 h2 {
  letter-spacing: .6px;
  line-height: 2rem;
  text-align: center;
  color: #212121;
  max-width: 52rem;
  font-family: sans-serif;
  margin-bottom: 2rem;
  margin-left: 350px;
}

.dash {
  width: 3.5rem;
  height: 0.4rem;
  border-radius: 0.8rem;
  background-image: -moz-linear-gradient(6deg, #2962ff, #5e0be0);
  background-image: linear-gradient(84deg, #2962ff, #5e0be0);
  margin-left: 750px;
}

/* flex-direction: row;
    margin-top: 0;
} */
.AboutUsFeature_features-list-wrapper__3ye1X {
  display: flex;
  align-items: center;
  margin-left: 350px;
}

.AboutUsFeature_individual-feature__2UyYl {
  padding: 0 3rem;
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  margin-top: 1.3rem;
}

.AboutUsFeature_individual-feature__2UyYl .AboutUsFeature_title__3bwTu {
  font-size: 2.88rem;
  margin-bottom: 0.2rem;
  font-weight: 700;
  color: #5e0be0;
}

.AboutUsFeature_individual-feature__2UyYl .AboutUsFeature_desc__XiiFt {
  text-transform: uppercase;
  font-weight: 600;
  color: #949494;
  font-size: 1.5rem;
}